.container {
    margin-top: calc(var(--offset-base-size) * 10);
}

.center {
    margin-top: calc(var(--offset-base-size) * 5);
    display: flex;
    justify-content: center;
    align-items: center;
}
