.header {
    background-color: var(--background);
}

.nav {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: calc(var(--max-w-xl) + 2.5rem);
    margin: 0 auto;
}

.leftSection {
    gap: 8px;
    display: flex;
    padding-left: 0;
}

.centerSection {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.rightSection {
    margin-left: auto;
    padding-left: 0;
}
